.start-panel {
    display: grid;
    grid-template-columns: 50px 170px auto;
}
.start-panel__icons {
    grid-column: 1;
    align-self: self-end;
}
.start-panel__list{
    grid-column: 2;
}
.start-panel__grid {
    grid-column: 3;
    display: grid;
    grid-template-columns: repeat(2, 300);
    grid-auto-rows: 200px auto auto;
}
.apps--office {

}
.apps--web {
    grid-row: 2;
    grid-column: 1;
}
.apps--other {
    grid-column: 2;
    grid-row: span 2;

/*     display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px); */
}
.apps__grid {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(6, 50px);
    grid-auto-rows: auto;
}
.app--g2x2 {
    grid-row-end: span 2;
    grid-column-end: span 2;
}
.app--g2x1 {
    grid-row-end: span 2;
}
.app--g1x2 {
    grid-column-end: span 2;
}
.app--off-3 {

}
.app--off-4 {

}
.app--off-5 {

}
.app--in-3 {
    grid-column: 3;
    grid-row-start: 1;
}
.app--fun-2 {
    grid-row-start: 3;
    grid-column-start: 3;
}
.app--fun-3 {
    grid-row-start: 5;
    grid-column-start: 5;
}
.app--off-3{
    grid-row: 3;
    grid-column: 3;
}
.app--off-4{
    grid-row-start: 2;
    grid-column-start: 5;
    
}
.app--off-5{
    grid-column-start: 5;
}